*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(193, 230, 255);
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 90px;
    color: rgb(0, 0, 0)
}
#fecha{
    text-align: center;
    color: black;
    font-weight: 200;
    font-size: 30px;
}
.container{
    width: 800px;
    background: white;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
}
.acceso{
    color: black;
    font-size: 20px;
    text-decoration: none;
}
.ingresocodigo{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
}
input{
    width: 100%;
    padding: 20px;
    outline: none;
    margin-bottom: 10px;
}
.botonuno{
    width: 100px;
    height: 45px;
    text-align: center;
}
.botondos{
    width: 100px;
    height: 45px;
    margin-left: 600px;
    text-align: center;
}
.contenedor{
    display: flex;
}
.entrada{
    color: green;
}
.salida{
    color: red;
}
.ingreso{
    border: 1px solid black;
    background:  rgb(131, 199, 255);
    width: 155px;
    height: 35px;
}